@font-face {
    font-family: "Pixel";
    src: url('font.ttf') format('truetype');
}
body {
    background-image: url('bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Pixel';
}
.games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.game {
    width: 150px;
}
.game img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.game-title {
    margin-top: 10px;
    font-size: 1.2em;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: red; 
}
a:active {
    color: green;
}
.games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}